*{
    margin: 0;
    padding: 0;
}

:root{
    --card-buttom:#2dcf9e;
}

.container{
    width: 100vw;
    height: 100vh;
    background: rgb(3, 6, 48);
    display: flex;
}

.content{
    margin:  auto;
    width: 50%;
    height: 80%;
    background: var(--card-buttom);
    border: solid 1px #fff;
    box-shadow: 1px 1px 10px rgb(119, 104, 104);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title{
    width: 100%;
    height: 2rem;
    padding-top: 1rem ;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

.button{
    margin: auto;
    padding: 20rem 0 0 0;
}

.button a{
    width: 100%;
    height: 100%;
}

.button button{
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: solid 1px #ffffff9d;
    background: #25034663;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #fff;
}

.button button:hover{
    background: #024137;
}

.jogo{
    display: none;
    position: absolute;
    left: 30rem;
    top: 6rem;
}

.jogo.ativo {
    text-align: center;
    display: block;

}

.tabuleiro {
    width: 26rem;
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
}
